[paths]
# theme_root_dir = "~/.config/omarchy/themes"
# current_theme_link = "~/.config/omarchy/current/theme"
# omarchy_bin_dir = "~/.local/share/omarchy/bin"
# waybar_dir = "~/.config/waybar"
# waybar_themes_dir = "~/.config/waybar/themes"
# starship_config = "~/.config/starship.toml"
# starship_themes_dir = "~/.config/starship-themes"

[waybar]
# apply_mode = "exec" # copy|exec
# restart_cmd = "tmplus-restart-waybar"
# default_mode = "auto" # auto|named|"" (empty = none)
# default_name = ""

[starship]
# default_mode = "" # preset|named|"" (empty = none)
# default_preset = ""
# default_name = ""

[behavior]
# quiet_default = false
